html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/* table thead{
    background: #a94442;
}
table tbody{

} */

/**/
thead{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(54%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe', GradientType=1 );
}
tbody a {
    color: #6b6b6b;
    display: table-cell;
    font-size: 15px;
    width: 27px;
    
    /* float: left; */
}
tbody tr{
    background: rgba(199,212,224,1);
background: -moz-linear-gradient(left, rgba(199,212,224,1) 0%, rgba(173,153,204,1) 51%, rgba(199,217,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(199,212,224,1)), color-stop(51%, rgba(173,153,204,1)), color-stop(100%, rgba(199,217,237,1)));
background: -webkit-linear-gradient(left, rgba(199,212,224,1) 0%, rgba(173,153,204,1) 51%, rgba(199,217,237,1) 100%);
background: -o-linear-gradient(left, rgba(199,212,224,1) 0%, rgba(173,153,204,1) 51%, rgba(199,217,237,1) 100%);
background: -ms-linear-gradient(left, rgba(199,212,224,1) 0%, rgba(173,153,204,1) 51%, rgba(199,217,237,1) 100%);
background: linear-gradient(to right, rgba(199,212,224,1) 0%, rgba(173,153,204,1) 51%, rgba(199,217,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d4e0', endColorstr='#c7d9ed', GradientType=1 );
}
/* p element.style {
    text-align: right;
} */
p {
    text-align: right;
    /*float: right;*/
}